{% extends "base.html" %}

{% block content %}
    
{% if 'problem_id' in data %}
    <h1>Solutions for {{ data['problem_id'] }}</h1>
{% else %}
    <h1>Solutions</h1>
{% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th> id </th>
        <th> problem_id </th>
        <th> solver_id </th>
        <th> score </th>
        <th> created_at </th>
      </tr>
    </thead>
    <tbody>
      {% for r in data.solutions %}
      <tr>
        <td> 
          <a href="{{ url_for('solution_id_as_html', id = r['id']) }}">
            {{ r['id'] }}
          </a></td>
          <td><a href="{{ url_for('list_solution_as_html') }}?problem={{  r['problem_id']}}">{{ r['problem_id']  }}</a></td>
        <td>{{ r['solver_id'] }}</td>
        <td>{{ r['score']  }}</td>
        <td>{{ r['created_at'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
